<div class="winner">
	<%= @winner.name %> won!
	And it only took
	<%= @match.updated_at - @match.created_at %>
	seconds. <br>
	That's 
	<%= @winner.wins %>
	wins for 
	<%= @winner.name %>.<br>
	<p>Click <a href="/">here</a> to play again.</p>
</div>